
.row-fluid
  .span5
    .modal{:style => "position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; width:100%;"}
      .modal-header
        %h5 Volunteers Sign In Here
      .modal-body
        %form{:method => "post", :action => signin_post_path}
          %table.table-condensed
            %tr
              %td
                %label.placeholder
                  Username
              %td
                %input{:type => "text", :name => "email", :size => "50", :value => ""}
            %tr
            %tr
              %td
                %label.placeholder
                  Password
              %td
                %input{:type => "password", :name => "password", :size => "50", :value => ""}
                %input{:type => "hidden", :name => "_method", :value => "post"}
            %tr
            %tr
              %td
              %td
                %input{:type => "submit", :class => "btn btn-danger", :value => "Login"}


