.row-fluid
  - unless current_user.nil?
    .span3
      %h4 Add a victim
      = render "form"
    .span9
      = render :partial => "view", :locals => { :victims => @victims }
  - else
    .span12
      = render :partial => "view", :locals => { :victims => @victims }
