.red-text{
  color: #aa0030;
}

.content{
  padding-top:40px;
}

.placeholder{
  font-size: 0.85em;
  color: #8e8e8e;
}

.index-search-bg{
	background-image: url('/images/bg_red.png');
	background-repeat: no-repeat;
	background-size: 100% 630px;
}

tr.selectable{cursor: hand; cursor: pointer;}
tr.selectable:hover{cursor: hand; cursor: pointer; background:#f5f5f5}

tr.highlight-row{background:#edfdeb;}
tr.ghost-row{background:#eeeeee;color:#888;}
tr.ghost-row-lite{background:#f3f3f3;}
